<% provide(:title, "Black") %>
<h1 class="title">Чёрный список</h1>
<div class = "add_black">
<%= form_for(:customer, url: black_url) do |b| %>

  <%= b.label :phone, "Добавить в чёрный список по телефону:"  %>
  <%= b.text_field :phone, class: 'form-control' %>

    <%= b.submit "Добавить", class: "btn btn-primary" %>

<% end %>
</div>

<% for c in @customers %>
  <ul class="customers">
    <li style="font-size: 15px">
      <span>Name: "<%= c.name %>"</span><br/>
      <span>Phone: "<%= c.phone %>"</span><br/>
      <span>Description: "<%= c.description %>"</span>

      <td><%= button_to 'Удалить из чёрного списка', {:controller => "customers", :action => "black_false", :id => c.id} , :method=>:delete, class: "btn btn-secondary"  %></td>
    </li>
  </ul>
<% end %>